<header>

    <div class="logo" (click)="onHomeClick()">< <span class="highlight">N</span>afees <span class="highlight">A</span>hmad /></div>

    <nav [ngClass]="{'open' : open}">

        <div class="logo" (click)="onHomeClick()">< <span class="highlight">N</span>afees <span class="highlight">A</span>hmad
        /></div>
        <ul>
            <li  *ngIf="!Visible"><a (click)="close()" class="nav-link" (click)="onHomeClick()">Home</a>
            </li>
            <li  *ngIf="Visible"><a (click)="close()" class="nav-link" href="#about">About</a></li>
            <li  *ngIf="Visible"><a (click)="close()" href="#projects">Projects</a></li>
            <li  *ngIf="Visible"><a (click)="close()" href="#contact">Contact</a></li>
            <li  *ngIf="Visible"><a (click)="close()" href="#resume">Resume</a></li>
        </ul>

    </nav>

    <!-- In the toggle function when condition gets true screen scroll will be blocked and for false unblocked -->
    <div class="hamburger" (click)="toggleOpenNav()">
        <div></div>
        <div></div>
        <div></div>
    </div>

</header>