<div class=" md:h-screen md:flex justify-between items-center mt-10 md:mt-0 md:w-10/12 mx-auto p-2">
    <section class="md:w-6/12">
        <div>
            <H5 class="introduction typing-demo mb-3"><span style="color: var(--highlight);">Hi ,</span> My Name Is...</H5>
            <div data-aos="fade-up" class=" mb-3">
                <p class="Name">Nafees Ahmad.</p>
                <p class="Title">I love to build things.</p>
            </div>
        </div>

        <p class="description" data-aos="fade-up">
            I’m a software engineer specializing in building exceptional web-based applications.Currently! i am focused
            on mastering Data Structure And Algorithmn.
        </p>

        <div class="my-5">
            <button class="cta">
                <span> Checkout Resume </span>
                <svg width="15px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </div>

    </section>

    <section class="md:w-5/12">
        <img src="assets\images\me1.png" class="h-auto w-full" id="character">
    </section>
</div>