<section class="md:w-10/12 mx-auto md:my-16 my-10 bg-color  md:p-10 p-4">

    <h1 class="title">Next<span class="highlight">JS H</span>ome <span class="highlight">N</span>eeds</h1>

    <hr style="border: 1px solid #b4df06;">

    <p class="otherTexts mt-10">
        The Nextjs HomeNeeds is a web application which is the advance version of my homeneeds project which i had
        created through angular . The NextJS_HomeNeeds project i have created for Posting Recipes and Managing Shopping
        List where users can see Posted Recipes and also can <span class="highlight">post</span> their own recipes to
        world and can perform CRUD operations over their own posts. Leveraging technologies
        like
        Bootstrap for Styling and NextJs for both <span class="highlight">front-end</span> design and <span
            class="highlight">back-end</span> functionality and for Storing data i have used MongoDB Atlas <span
            class="highlight">Database</span>, this project divided into
        several sections like <span class="highlight">Authentication</span> , <span class="highlight">Recipes</span> ,
        <span class="highlight">Shopping List</span> , <span class="highlight">Profile</span> .
    </p>


    <section class="mt-4">
        <p class="headings">Key Features</p>
        <p class="my-4" *ngFor="let features of keyFeatures">
            <span class="inline_headings">{{features.Name}} :- </span>
            <span class="otherTexts">{{features.featureDescription}}</span>
        </p>
    </section>


    <section class="mt-4">
        <p class="headings">Challenges Faced</p>
        <p class="otherTexts mt-4">
            I had a couple of issues that I encountered recently. First, I wanted to get searchParamsData (query params)
            into the route (back-end) which i passed with the API i tried lot. but i couldn't get searchParamsData then
            i searched a lot about
            getting serachparamsData onto google , stackoveflow , and several other places but i couldn't get Data. then
            after finding solution over chatgpt i got the solution
            that how i can get the searchParamsData into the back-end .
            I had to simply extract serachParams from new URL(req.url) object;
        </p>

        <p class="otherTexts mt-4">
            Second issue I faced while during the passing user data into the navbar from the logIn component these
            component was quite far from each others. so it was required lots of props drilling which can cause
            application performance issue . I overcome from this through Redux toolkit.
        </p>

        <p class="otherTexts mt-4">
            Third issue I faced after passing the data into navbar whenever i refreshed the page that data into the
            redux toolkit gets wiped . To overcome this problem i stored the that into the localstorage by dispatching
            data from the logIn component.
        </p>

        <p class="otherTexts mt-4">
            Forth issue I faced after Storing data into the localstorage whenever user hits the logout button user gets
            immedietly logged out from the application behind the scene application removes the localStorage data and
            token.
            if user didn't click the logout out button the user was automatically logged out from the application after
            24h beacuse of Token expiration and The token is automatically gets removed from the cookies after
            expiration But the problem is here the data into localStorage is still remain despited after logout.
            To overcome this problem i used cookie to store user data instead of localStorage to persist RTK store data
            and i setted cookie expiration time as same as token expiration for automatically deleting user data after
            token expiration.
        </p>


    </section>


    <section class="mt-4">
        <p class="headings">Technology Used.</p>
        <ul class="list-disc otherTexts">
            <li class="my-4 ml-4" *ngFor="let Technologies of technologies">{{Technologies}}</li>
        </ul>
    </section>


    <section class="mt-4">
        <p class="headings">References</p>
        <ul>
            <li class="text-blue-700" *ngFor="let References of references"><a target="main"
                    href="{{References}}">{{References}}</a></li>
        </ul>
    </section>
</section>