<MaxWidthWrapper className="pt-20 md:pt-28 pb-24 lg:pb-32">

    <h1 class="text-4xl md:text-6xl font-bold font-heading leading-tight text-center">Next<span
            class="text-green-500 font-semibold">JS</span> Home Needs
    </h1>

    <div class="w-full h-px bg-green-500 mt-3"></div>

    <p class="mt-10">
        Nextjs_HomeNeeds is a web application that is the advanced version of my HomeNeeds project, which I originally
        created using Angular. The Next.js HomeNeeds project is designed for posting recipes and managing shopping
        lists, allowing users to view posted recipes, post their own recipes to the world, and perform CRUD operations
        on their own posts. Leveraging technologies like Bootstrap for styling and Next.js for both <span
            class="text-green-500 font-semibold">front-end</span> design and <span
            class="text-green-500 font-semibold">back-end</span> functionality, and
        using MongoDB Atlas for data storage, this project is divided into several sections, including <span
            class="text-green-500 font-semibold">Authentication</span>, <span
            class="text-green-500 font-semibold">Recipes</span>, <span class="text-green-500 font-semibold">Shopping
            List</span>, and <span class="text-green-500 font-semibold">Profile</span>.
    </p>



    <section class="mt-4">
        <p class="font-heading font-semibold text-2xl">Key Features</p>
        <p class="my-4" *ngFor="let features of keyFeatures">
            <span class="font-semibold">{{features.Name}} :- </span>
            <span>{{features.featureDescription}}</span>
        </p>
    </section>


    <section class="mt-4">
        <p class="font-heading font-semibold text-2xl">Challenges Faced</p>

        <ul class="list-disc mt-5">
            <li>
                I recently encountered a couple of issues. First, I wanted to retrieve <code>searchParamsData</code>
                (query params) in the route (back-end) that I passed with the API. I tried various methods but couldn't
                get the <code>searchParamsData</code>. I searched extensively on Google, Stack Overflow, and several
                other places, but I couldn't find a solution. Finally, after consulting ChatGPT, I found the solution: I
                needed to simply extract the <code>searchParams</code> from the <code>new URL(req.url)</code> object.
            </li>

            <li class="mt-5">
                The second issue I faced was passing user data into the navbar from the login component. These
                components were quite far from each other, so it required a lot of props drilling, which could cause
                performance issues in the application. I overcame this by using Redux Toolkit.
            </li>

            <li class="mt-5">
                The third issue I faced was that after passing the data into the navbar, the data in Redux Toolkit would
                get wiped whenever I refreshed the page. To overcome this problem, I stored the data in
                <code>localStorage</code> by dispatching it from the login component.
            </li>

            <li class="mt-5">
                The fourth issue I faced was that after storing data in <code>localStorage</code>, whenever the user
                clicked the logout button, they were immediately logged out from the application. Behind the scenes, the
                application removed the <code>localStorage</code> data and token. However, if the user didn't click the
                logout button, they were automatically logged out after 24 hours due to token expiration, as the token
                is automatically removed from the cookies after expiration. The problem was that the data in
                <code>localStorage</code> still remained even after logout.
                To overcome this problem, I used cookies to store user data instead of <code>localStorage</code> to
                persist RTK store data. I set the cookie expiration time to be the same as the token expiration,
                ensuring that user data is automatically deleted after the token expires.
            </li>
        </ul>
    </section>




    <section class="mt-4">
        <p class="font-heading font-semibold text-2xl">Technology Used.</p>
        <ul class="list-disc">
            <li class="my-4 ml-4" *ngFor="let Technologies of technologies">{{Technologies}}</li>
        </ul>
    </section>


    <section class="mt-4">
        <p class="font-heading font-semibold text-2xl">References</p>
        <ul>
            <li class="text-blue-500 hover:text-blue-700" *ngFor="let References of references"><a target="main"
                    href="{{References}}">{{References}}</a></li>
        </ul>
    </section>

</MaxWidthWrapper>