.Name,
.Title {
    font-size: clamp(45px, 8vw, 80px);
    font-weight: var(--font-weight);
    font-family: var(--main-heading-font);
    font-style: normal;
}

.Name {
    background: radial-gradient(circle, rgba(184, 222, 0, 1) 29%, rgba(0, 255, 239, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.Title {
    color: rgb(75, 75, 75);
    font-size: clamp(35px, 8vw, 75px);
}

#character {
    -webkit-filter: grayscale(0.6);
    filter: grayscale(0.6);
}


#character:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


.img-container {
    background: rgb(184, 222, 0);
    background: -moz-radial-gradient(circle, rgba(184, 222, 0, 1) 29%, rgba(0, 255, 239, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(184, 222, 0, 1) 29%, rgba(0, 255, 239, 1) 100%);
    background: radial-gradient(circle, rgba(184, 222, 0, 1) 29%, rgba(0, 255, 239, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8de00", endColorstr="#00ffef", GradientType=1);
    border-radius: 100px 100px 0 80px;
    height: 400px;
    /* overflow: hidden; */
}



.introduction {
    font-size: clamp(15px, 2vw, 20px);
}

.introduction::after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 1px;
    background-color: #b4df06;
}

.description {
    font-family: var(--font);
    font-size: clamp(15px, 2vw, 20px);
}


@media screen and (min-width : 769px) {
    .img-container {
        height: 600px;
    }
}