<div class="min-h-screen items-center md:mt-0 mt-14 flex flex-wrap md:gap-10 gap-16 justify-center md:w-10/12 mx-auto">
    <section class="md:w-6/12 order-2 md:order-1">
        <div>
            <H5 class="introduction list_reveal mb-4"><span style="color: var(--highlight);">Hi ,</span> My Name Is. </H5>
            <div class=" mb-3">
                <p class="Name list_reveal">Nafees Ahmad.</p>
                <p class="Title list_reveal">I love to build things.</p>
            </div>
        </div>

        <p class="description my-10 md:my-3 list_reveal">
            I’m a software engineer specializing in building exceptional web-based applications.Currently! i am focused
            on mastering Data Structure And Algorithmn.
        </p>

        <div class="mt-15 md:mt-8 list_reveal">
            <a href="assets/pdf/Nafees_CV.pdf" download class="cta" >
                <span> Checkout Resume </span>
                <svg width="15px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </a>
        </div>

    </section>

    <section class="md:w-5/12 order-1 md:order-2 single_reveal">
        <div class="img-container">
            <img ngSrc="assets/images/me1.png" id="character" height="1200" width="978" priority
                class="w-full h-full object-cover">
        </div>
    </section>

</div>