.about {
    font-size: var(--heading);
    font-weight: var(--font-weight);
    font-family: var(--font);
    font-style: normal;
}


.about::after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 1px;
    margin-left: 10px;
    background-color: #b4df06;
}


p {
    font-family: var(--font);
    font-size: clamp(15px, 2vw, 19px);
    margin-top: 15px;
}

.highlight {
    color: var(--highlight);
}