<div class="md:w-8/12 flex items-center mx-auto pt-10 md:pb-36 pb-10">
    <section>
        <h1 class="about">About Me</h1>
        <p data-aos="fade-up">
            I am a <span class="highlight">self-taught</span> software developer with a genuine passion
            for
            programming and bringing innovative ideas to
            life. My enthusiasm for technology in this rapidly evolving era drives me to stay abreast of new
            technologies
            and innovations.
        </p>
        <p data-aos="fade-up">
            Currently pursuing <span class="highlight">BCA</span> at Integral University, my coding journey began on the
            very first day of college.
            Since
            then, I've been on a continuous learning journey, honing my skills and embracing new challenges. My focus
            has
            extended to MEAN stack development, showcasing my commitment to mastering diverse technologies.
        </p>
        <p data-aos="fade-up">
            Guided by the expertise of my mentor, <a href="https://salmankhan.dev/" target="main"><span class="highlight">Salmankhan.dev</span></a>, I have progressed from
            ground zero to where I am
            today.
            His guidance has been instrumental in shaping my skills and mindset as a developer.
        </p>
        <p data-aos="fade-up">
            While I have a penchant for playing <span class="highlight">PUBG</span> and other games on both mobile and
            PC, <span class="highlight">programming</span> has become my
            true
            love, fueling my dedication to growth and innovation in the field.
        </p>
    </section>
</div>