<section id="model" class="md:w-10/12 mx-auto md:my-16 my-10 bg-color  md:p-10 p-4" >

    <h1 class="title"><span class='highlight'>E</span> Management</h1>
    <hr style="border: 1px solid #b4df06;">
    <p class="otherTexts mt-10">
        The E Management is a web application designed for efficient employee data management. Leveraging technologies
        like
        Bootstrap and Angular for <span class="highlight">front-end</span>, design and mongoDB Express.js, and Node.js
        for <span class="highlight">back-end</span> functionality, this project
        offers
        a user-friendly and robust solution.
    </p>


    <section class="mt-4">
        <p class="headings">Key Features</p>
        <p class="my-4" *ngFor="let features of keyFeatures">
            <span class="inline_headings">{{features.Name}} :- </span>
            <span class="otherTexts">{{features.featureDescription}}</span>
        </p>
    </section>


    <section class="mt-4">
        <p class="headings">Challenges Faced</p>
        <p class="otherTexts mt-4">
            One notable challenge encountered during the development process was
            implementing the forget password
            feature,
            specifically in creating a seamless multi-step process. The challenge was <span
                class="highlight">addressed</span> by designing a
            <span class="highlight">step-by-step</span>
            approach using an enum field. Each step, such as email validation, OTP submission, and new password setup,
            was
            managed by conditionally rendering views through the ngIF directive. This innovative solution allowed for a
            structured and user-friendly experience, overcoming the initial hurdles in the process.
        </p>
    </section>


    <section class="mt-4">
        <p class="headings">Technology Used.</p>
        <ul class="list-disc otherTexts">
            <li class="my-4 ml-4" *ngFor="let Technologies of technologies">{{Technologies}}</li>
        </ul>
    </section>

    <hr style="border: 1px solid #b4df06;">

    <section class="mt-4">
        <p class="headings">References</p>
        <ul>
            <li id="references" class="text-blue-700" *ngFor="let References of references"><a target="main"
                    href="{{References}}">{{References}}</a></li>
        </ul>
    </section>

</section>