.title {
    font-family: var(--font);
    font-weight: 600;
    font-size: clamp(19px, 2vw, 22px);
    text-align: center;
    background: #e7f2ff;
    padding: 8px 0;
}

.headings {
    font-family: var(--font);
    font-weight: 600;
    font-size: clamp(17px, 2vw, 19px);
}

.otherTexts {
    font-family: var(--font);
    font-size: clamp(15px, 2vw, 17px);
}

.highlight {
    color: var(--highlight) !important;
}


#references {
    font-size: clamp(10px, 2vw, 18px);
    border-radius: 15px;
}