<section class="bg-zinc-50">

    <MaxWidthWrapper className="pt-20 md:pt-28 pb-24 lg:pb-32">

        <h1 class="text-4xl md:text-6xl font-bold font-heading leading-tight text-center"><span
                class='text-green-500'>E</span> Management</h1>

        <div class="w-full h-px bg-green-500 mt-3"></div>

        <p class="mt-10">
            E Management is a web application designed for efficient employee data management. Leveraging technologies
            like
            Bootstrap and Angular for the <span class="text-green-500 font-semibold">front-end</span> design and
            MongoDB, Express.js, and
            Node.js
            for the <span class="text-green-500 font-semibold">back-end</span> functionality, this project offers a
            user-friendly and
            robust
            solution.
        </p>


        <section class="mt-4">
            <p class="font-heading font-semibold text-2xl">Key Features</p>
            <p class="my-4" *ngFor="let features of keyFeatures">
                <span class="font-semibold">{{features.Name}} :- </span>
                <span>{{features.featureDescription}}</span>
            </p>
        </section>


        <section class="mt-4">
            <p class="font-heading font-semibold text-2xl">Challenges Faced</p>
            <p class="mt-4">
                One notable challenge encountered during the development process was implementing the forgot password
                feature,
                specifically in creating a seamless multi-step process. This challenge was <span
                    class="text-green-500 font-semibold">addressed</span> by designing a
                <span class="text-green-500 font-semibold">step-by-step</span> approach using an enum field. Each step,
                such as email
                validation, OTP submission, and new password setup,
                was managed by conditionally rendering views through the ngIf directive. This innovative solution
                allowed
                for a
                structured and user-friendly experience, overcoming the initial hurdles in the process.
            </p>
        </section>


        <section class="mt-4">
            <p class="font-heading font-semibold text-2xl">Technology Used.</p>
            <ul class="list-disc">
                <li class="my-4 ml-4" *ngFor="let Technologies of technologies">{{Technologies}}</li>
            </ul>
        </section>

        <section class="mt-4">
            <p class="font-heading font-semibold text-2xl">References</p>
            <ul>
                <li class="text-blue-500 hover:text-blue-700 transition-all" *ngFor="let References of references"><a
                        target="main" href="{{References}}">{{References}}</a></li>
            </ul>
        </section>
    </MaxWidthWrapper>
</section>