<div class=" md:w-7/12 mx-auto  text-black mt-16 py-5 md:mt-0 grid place-content-center gap-10 flex-col bg-color" style="min-height: 90vh;">
    
    <p class="heading text-center w-full list_reveal">Technolohies I’ve been working with recently</p>
    

    <section class="flex flex-wrap justify-center md:gap-6 md:w-7/12 gap-4 mx-auto w-full list_reveal">
        <div class=" text-center h-24 w-24" *ngFor="let icon of iconArrayOfobject">
            <div class="icons" [innerHTML]="icon.Url"></div>
            <p style="font-size: clamp(13px, 2vw, 15px);" class="font-bold">{{icon.Name}}</p>
        </div>
    </section>

</div>