.heading {
    font-size: var(--heading);
    font-weight: 600;
    font-family: var(--font);
}



.icons {
    font-size: clamp(50px, 5vw, 60px);
    transition: 0.2s;
    cursor: pointer;
}

.icons:hover {
    color: rgb(88, 88, 88);
}

.bg-color {
    background: black;
    color: #b8de00;
    border: 2px solid rgb(184, 222, 0);
    border-radius: 20px 0 10px 0;
    box-shadow: 0 0 16px 1px #b4bd3724;
}


.responsive-svg {
    width: clamp(50px, 5vw, 60px);
    height: clamp(50px, 5vw, 60px);
}