/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* for logo  */
/* @import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat:wght@600&family=Lilita+One&family=Pacifico&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* main heading */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat:wght@600&family=Lilita+One&display=swap');

/* Heading Font */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

:root {
    --font: "Fira Sans", sans-serif;
    --highlight: #0099ff;
    --heading: clamp(20px, 2vw, 40px);
    --font-weight: 700;
    --main-heading-font: "Acme", sans-serif;

}

html,
body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #0099ff;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}